
* {
    margin: 0px;
    padding: 0px;
    font-family: '04b 30', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
body{

}

li{
    list-style: none;
}

header{
    width: 100%;
    display: flex;
    background-color: #192965;
    height: 80px;
    align-items: center;    
}

header .logo {
    flex: 1 1 auto;
    padding: 15px;
    color: white;
}

header .logo .fas {
    padding: 15px;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}


header .nav-header{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    font-size: 1.5em;
    margin-top: 10px;
}

main{    
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px 200px;
}

main .left{
    width: 300px;
    height: 600px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;    
    
}

main .left a{
    color: black;
}

main .left .opciones a, main .left .cladificacion a{
    display: flex;
    flex-direction: column;    
    text-align: center;
    font-size: 1.5em;
    padding: 15px;    
}

main .left .opciones a:hover, main .left .clasificacion a:hover{    
    flex-direction: column;    
    text-align: center;
    font-size: 1.5em;
    padding: 15px;  
    background-color: black;  
    color: white;
}

main .right{
    width: 1000px;
    height: 1200px;
    border: 1px black solid;    
    margin: 0px 50px;
}

.parrafo {
  text-align: center;
}
