*{
    padding: 0;
    margin: 0;
   
}

body{
    font-family: 'system-ui';
    color:#333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin:0;
    max-width: 100%;
}

li{
    list-style: none;
    padding: 10px;
    float: left;
    
}

ul a{
    text-decoration: none;
    color:white;
    font-family: 'system-ui';   
    text-transform: uppercase;

}


/*Navegacion----------------------------------*/

.navegacion {
    
    background-color: rgba(248,246,246,0.9);
    color: #000 !important;
    border-left:6px solid #12d7ff;
    border-top:6px solid #12d7ff;
    border-bottom:6px solid #12d7ff;
    width: 50%;
    height: 140px;
     float: right;
    flex: 0.1 0.1 auto;
    display: inline-flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.5em;
    margin-top: 6rem;
    list-style: none;
    transition: all 0.4s linear;
    border-radius: 25px 0px 0px 25px;
    right: 0;
    z-index: 100;
}

.navegacion ul li a{
    display: block;
    padding: 1.6rem 1rem;
    color:#000;
    font-size: 18px;
    font-family: Cooper Black;
}

.navegacion a:hover {
    background: #CEF6F5;
    text-decoration: none;
    color:rgba(8,138,8,.8);
    border-radius: 10px
}


@media only screen
  and (min-device-width : 100px)
  and (max-device-width : 500px)  { 
    .navegacion{
        display: none;
    }
}

/*---------------------------------------------------------------------------------------*/

.contenido logo-nav-container{
    
}

.cabeza {
    background-image: url(../img/Sin-título-4.jpg); /* Encabezado imagen*/
}

.contenido-cabeza {
    height: 350px; /*Ancho de encabezado de inicio*/
    width: 100%;
}

section {
    margin: 3rem;
}

.banner1 {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.banner2 {
    width: 100% !important;
    transition: 0.5s ease-in-out;

}

.banner2:hover {
    transition: 0.5s ease-in-out;
    box-shadow: 2px 2px 2px 7px #0c58c9;
}

.zoom { 
    transition: width 1s, height 1s, transform 1s; 
}

.zoom:hover {
    transform : scale(2);
    -moz-transform : scale(2);      /* Firefox */
    -webkit-transform : scale(2);   /* Chrome - Safari */
    -o-transform : scale(2);        /* Opera */
}


.cajas {
    padding:10%;
}

/*-------------------------Footer------------------------------------------*/

footer{
    width: 100%;
    background: #202020;
    color: white;   
}

footer .container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

footer .container-body{
    display: flex;
    justify-content: space-between;
}

footer .colum1{
    max-width: 400px;
}

footer .colum1 h1{
    font-size: 22px;
}

footer .colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

footer .colum2{
    max-width: 400px;
    
}

footer .colum2 h1{
    font-size: 22px;
}

footer .row{
    margin-top: 20px;
    display: flex;
}

footer .row img{
    width: 36px;
    height: 36px;
}

footer .row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

footer .colum3{
    max-width: 400px;
}

footer .colum3 h1{
    font-size: 22px;
}

footer .row2{
    margin-top: 20px;
    display: flex;
}

footer .row2 img{
    width: 36px;
    height: 36px;
}

footer .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

footer .container-footer{
    width: 100%;  
    background: #101010;
}

footer .footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

footer .copyright{
    color: #C7C7C7;
}

footer .copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer .information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    footer .container-body{
        flex-wrap: wrap;
    }
    
    footer .colum1{
        max-width: 100%;
    }
    
    footer .colum2,
    footer .colum3{
        margin-top: 40px;
    }
}
