
body {
	font-family: '04b 30',times,serif;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.4em;
	margin: 0;
}

h1 {
	line-height: 1.3em;
	font-size: 2rem;
}
p {
	margin-bottom: 1.6em;
}

.contenedor {
	width: 85%;
	/* max-width: 850px; */
	margin: 0 auto;
}

.header {
	background: #333;
	color: white;
	padding: 2rem 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
	.header a {
		color:white;
		text-decoration: none;
	}

.logo-nav-container{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

}

.navegacion {
	flex: 0.1 0.1 auto;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 0;
    list-style: none;
    transition: all 0.4s linear;
		}
		.navegacion ul li a{
			display: block;
			padding: 0.5rem 1rem;

		}

		.navegacion a:hover {
		background: #FC0412;
		margin: 10px;
		padding: 10px;
		border-radius: 10px
		}
.logo {
  background: #FC0412;
  height: 50px;
  width: 80px;
  margin-top: 20px;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 10%;
  align-items: center;
  letter-spacing:5px;
  font-size: 1.2em;
  }
.pie-pagina {
	background: #394751;
	font-size: 1.0em;
	padding: 4rem 0;
	text-align: center;
	color: red;
}

.principal{
	padding-top: 12rem;
}

@media only screen and (max-width: 767px){
	.navegacion {
		width: 100%;
		margin-top: 1rem;
	}
		.navegacion ul li{
			display: block;
		}
			.navegacion ul li a{
				display: block;
				padding: 0.5rem 1rem;

				}

		.navegacion a:hover {
		background: #FC0412;
		margin: 10px;
		padding: 10px;
		border-radius: 10px
		}

}
