*{
    padding: 0;
    margin: 0;
   
}

body{
    font-family: 'system-ui'
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin:0;
}

li{
    list-style: none;
    padding: 10px;
    float: left;
    
}

ul a{
    text-decoration: none;
    color:white;
    font-family: 'system-ui';   
    text-transform: uppercase;

}



/*Navegacion----------------------------------*/

.navegacion{
    position: fixed;
    background-color: #fff;
    color: #000 !important;
    border:6px solid #12d7ff;
    width: 50%;
    height: 140px;
     float: right;
    flex: 0.1 0.1 auto;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 2.5em;
    margin-top: 6rem;
    list-style: none;
    transition: all 0.4s linear;
    border-radius: 25px 0px 0px 25px;
    right: 0;
    z-index: 100;
        }
        .navegacion ul li a{
            display: block;
            padding: 0.5rem 1rem;
color:#000;
        }

        .navegacion a:hover {
        background: #12d7ff;
       text-decoration: none;
        padding: 10px;
        border-radius: 10px
        }


@media only screen
  and (min-device-width : 100px)
  and (max-device-width : 500px)  { 



.navegacion{

    display: none;
}


}
















/*---------------------------------------------------------------------------------------*/





.contenido logo-nav-container{

}

.cabeza{
    background-image: url(assets/img/Sin-título-4.jpg); /* Encabezado imagen*/
   
}

.contenido-cabeza{
    height: 400px; /*Ancho de encabezado de inicio*/
    width: 100%;
}

section{

    margin: 3rem;
}


.banner1{


    align-items: center;
  display: flex;

  justify-content: center;
  text-align: center;
 
}

.banner2{
    
    width: 100% !important;
    transition: 0.5s ease-in-out;

}

.banner2:hover{

    transition: 0.5s ease-in-out;
    box-shadow: 2px 2px 2px 7px #f0f0f0;
   
}

.zoom{
 
    transition: width 1s, height 1s, transform 1s;
  
}
.zoom:hover{
    
    transform : scale(2);
    -moz-transform : scale(2);      /* Firefox */
    -webkit-transform : scale(2);   /* Chrome - Safari */
    -o-transform : scale(2);        /* Opera */
}


.cajas{

    padding:10%;
}

/*-------------------------Footer------------------------------------------*/

.pie-pagina {
    background-image: url(assets/img/Imagen_8_cc.png);
	font-size: 1.0em;
	font-family: 'system-ui'
	padding: 4rem 0;
	width: 100%;
	height: 150px;
	text-align: center;
	color: red;
	bottom: 0;
	
}
